<div class="spaces"></div>
<div class="spaces"></div>


<div class="container">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="large-title" class="pull-left"><%= @blog.published.strftime("%m/%d") %><small id="small-title"> <%= @blog.title %></small></h4>
      <%= button_to 'Read on Blogger', @blog.blogUrl, :class=> 'btn btn-primary pull-right', method: 'get' %> 
    </div>
    <div class="panel-body" id="blog-show-content">
      <br>
      <%= @blog.content.html_safe %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Read on Blogger', @blog.blogUrl %> 
    </div>

  </div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <% end %>
  <%= link_to 'All Blogs', blogs_path %>
</div>