<div class="spaces"></div>

<div class="container">
  <center><h1>Press Kit</h1></center>
  <br>
  <a name="biography"></a>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Biography</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <%= image_tag "dannybio.png", {height: 350} %>
        </div>
        <div class="col-md-5">
          <h2>DANNY CARVALHO</h2>
          <h4>Lava Rock Music</h6>
            <h6>http://www.dannycarvalho.com</h6>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">




            <p>
              Singer-songwriter Danny Carvalho has packed more musical experiences into his 25 years than many musicians twice his age. An accomplished slack key guitarist, he began his formal training at age 10 with noted slack key player Ozzie Kotani, who recognized his raw talent and nurtured it, featuring Carvalho in his live performances.
            </p>

            <p>
              At age 14, Carvalho became the first slack key guitar player to be featured on National Public Radio’s nationally syndicated program <i>From the Top</i>. At age 16, he made the first of two appearances on Garrison Keillor’s <i>A Prairie Home Companion</i>, and released his first album, <i>Slack Key Journey - On My Way</i>. He released his second album, <i>Somewhere</i>, when he was 18 – and was nominated for a prestigious Nā Hōkū Hanohano Award (Hawaii’s GRAMMY® Awards) for Slack Key Album of the Year. Carvalho’s music was also featured in Alexander Payne’s Academy Award-winning 2011 film, <i>The Descendants</i>.
            </p>

            <p>
              During this time, Carvalho continued to study his craft, both on his own and working with others, most notably one of the most celebrated figures in modern-day Hawaiian music: the iconic, multi- GRAMMY® and Nā Hōkū Hanohano Award winner Dennis Kamakahi, a member of the Hawaiian Music Hall of Fame who composed over 500 songs (many of which have become classics). As Carvalho continued to perfect his skills playing slack key guitar under Kamakahi’s tutelage, Kamakahi and others encouraged Carvalho to add his voice to his music. He listened, and eventually studied under Neva Rego, known by many as the Voice Coach to the Stars.
            </p>

            <p>
              Over the years Carvalho has further expanded his horizons, composing and producing his own songs – all while attending school (he graduated from the University of Hawai’i with a degree in Hawaiian Studies) and furthering his knowledge of Hawaiian culture, history, and language. He draws from his love of all things Hawaiian, which has inspired his song writing and infused it with emotion, heart, and soul. His third album, <i>Ke Au Hou</i> (“a new era”), released in 2013, is a reflection of his growth as a singer-songwriter, but also as lead artist, band leader, arranger (the album included some very intricate and collaborative arrangements), and producer. Along with that growth has come the desire to spread his wings beyond the traditional Hawaiian music he has loved, studied, and played for so long, and <i>Ke Au Hou</i> saw the beginning of Carvalho’s expansion into blending traditional Hawaiian with contemporary Hawaiian while creating some new arrangements, and from there into other genres – including the closely-related folk genre, as well as some acoustic pop.
            </p>

            <p>
              Carvalho’s new chapter has seen him become a versatile performer with strong musicianship and vocal and writing skills who delves deeply into a variety of musical styles and genres while not losing site of his beloved Hawaiian slack key roots – an artist who appeals to a wide variety audiences, both young and old.
            </p>
            <br>
            <center><b><i>Contact Danny at <a href="mailto:info@dannycarvalho.com">info@dannycarvalho.com</a> or (808) 286-5452</b></i></center>


          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
      <div class="panel-footer">

      </div>
    </div>

    <a name="reviews"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Album Reviews</h4>
      </div>
      <div class="panel-body">


        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <br>
            <%= link_to albums_path do %>
            <%= image_tag "onmyway.png", class: 'img-responsive', id: 'product-image' %>
            <% end %>
            <br>
          </div>
          <div class="col-md-7">
            <br>
            <h4 class="media-heading">Slack Key Journey</h4>
            <h6>Danny Carvalho (Lava Rock Music)</h6>
            <p>
             “…Danny Carvalho steps forward with a debut that places him at the head of the class of the next generation of ki ho'alu stars. Carvalho's debut shows his command of the instrument and his potential as a stylist -- someone who will perpetuate the legacy of his teachers while also exploring new ideas….  shows respect for the past ...also shows himself to be an imaginative arranger with his versions of "Kimo Hula" and "Europa," and expresses himself as well as a composer with two originals…. Carvalho's beautiful playing makes this a best bet for anyone looking for mellow mood music, but slack key fans will also appreciate the promise heard in his technique. ...a perfect debut.”
           </p>
           <p><b>- Honolulu Star-Bulletin</b></p>
         </div>
       </div>


       <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <br>
          <%= link_to albums_path do %>
          <%= image_tag "keauhou.png", class: 'img-responsive', id: 'product-image' %>
          <% end %>
          <br>
        </div>
        <div class="col-md-7">
          <br>
          <h4 class="media-heading">Ke Au Hou</h4>
          <h6>Danny Carvalho (Lava Rock Music)</h6>
          <p>
           “...acquired a solid understanding of traditional slack key techniques by studying with masters of the genre ... then became interested in how slack key techniques can be applied to other types of music.
           <br><br>
           Tradition is represented with pair of original instrumentals, one a solo, the other a duet with cello… The phrase “successful experiment” applies to almost everything else….The milestone piece is Palani Vaughan’s classic “Ka Mamakakaua” rearranged as Hawaiian-language reggae with a blazing electric guitar solo by Carvalho and with Jon Osorio as a featured guest vocalist… The track should already be getting play on Hawaii’s styled island music radio stations and online platforms…Carvalho steps outside Hawaii with Jobim’s “Girl From Ipanema” arranged for performance by slack key guitar, acoustic bass and cello….Take note that Carvalho has spent the last three years studying vocal performance and Hawaiian language, and it’s no wonder that the album is a significant step forward for him.”
         </p>
         <p><b>- John Berger, Star Advertiser</b></p>
       </div>
     </div>
   </div>
   <div class="panel-footer">
   </div>
 </div>

<a name="photos"></a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Press Kit Photos</h4>
  </div>
  <div class="panel-body">
    <div class="md-col-10 md-col-offset-1">
      <% @presskit_photos.each do |photo| %>
      <div class="col-md-4">
        <%= link_to photo do %>
          <%= image_tag photo.image_filepath.thumbnail.to_s, class: "img-responsive"%>
          <br>
          <center>
            <%= link_to 'View Image', "http://res.cloudinary.com/velaseriat/image/upload/" + photo.image_filepath.file.filename, class: "btn btn-default" %>
          </center>
          <br>
        <% end %>
        <br>
      </div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
  </div>
</div>
</div>

