<script>
$(document).ready( function() {
  $( 'body' ).stellar();
});
</script>


<div id="header-background" data-stellar-ratio="0.4">
  <%= image_tag 'background.jpg', :id=> "header-background-image" %>
</div>

<div class="spaces"></div>

<h1 class="text-center">The Auto Updating Social Collage!</h1>


<div class="spaces"></div>




<div class="container-fluid">
  <div class="row" id="social-media-widgets">
    <div class="col-sm-7">
      <iframe width="100%" height="600" scrolling="no" frameborder="no" src=<%= "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/" + @soundcloud_id + "&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"%>></iframe>
      <br><br>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="100%" height="315" src=<%= "https://www.youtube.com/embed/" + @youtube_id %> frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-5">
          <iframe style="border: 0; width: 100%; height: 786px;" src=<%= "https://bandcamp.com/EmbeddedPlayer/album=" + @bandcamp_id + "/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" %> seamless><a href="http://c418.bandcamp.com/album/minecraft-volume-beta">Minecraft - Volume Beta by C418</a></iframe>
        </div>
        <div class="col-sm-7">
          <div class="tumblr-post" data-href=<%= "https://embed.tumblr.com/embed/post/nfyoJSDDDc5K-zblH5jb-w/" + @tumblr_id %> data-did="430c58218fa0d96a22df58925e1bf97f23cb183c"><a href="http://just--space.tumblr.com/">Danny Carvalho</a></div><script async src="https://secure.assets.tumblr.com/post.js"></script>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href=<%= @instagram_id %> style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">Danny Carvalho</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Danny Carvalho (@dannykihoalu) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-08-30T01:19:44+00:00">Jan 1, 1990 at 12:00pm PDT</time></p></div></blockquote>
      <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
      <br>
    </div>
    <div class="col-sm-5">
      <blockquote class="twitter-tweet" lang="en"><a href=<%= "https://twitter.com/DannyICarvalho/status/" + @twitter_id %>></a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <br>
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FDannyCarvalhoMusic&width=500&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=600" scrolling="yes" style="border:none; overflow:auto; width: 100%; max-width:500px; height:600px; background: white; float:left; " allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>
</div>
<br>


