<div class="spaces">
</div>
<div class="spaces">
</div>
<div class="container">
  <div class="jumbotron">
    <h1>Weddings</h1>
    <p class="lead">
          For many couples, their wedding day is one of the most important days of their lives. The right music can help turn the occasion in the celebration of a lifetime! For over 10 years, I have had the privilege of playing music in many weddings. From intimate ceremonies on the beach to ballroom parties, I have tried my best to perfect the art of adding a touch of Hawai’i to the atmosphere of any type of celebration.
    </p>
    <%= mail_to "booking@dannycarvalho.com", "Book Now", :class=> "btn btn-default" %>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p class="lead">
        Whether you are looking for a customized program, with a special song for the procession or first dance, or if you simply want the best possible blend of Hawaiian slack key guitar and contemporary favorites, I would be happy and honored to be part of your special day. For more information about availability and rates, contact me at <%= mail_to "booking@dannycarvalho.com" %>.
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag "w3a.jpg", :class=> 'img-responsive img-rounded' %>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="text-center"> Adding a Touch of Hawaiian </h4>
    </div>
    <div class="panel-body">
      <div class=col-md-4><%=image_tag "w1a.jpg", :class=> 'img-responsive'%></div>
      <div class=col-md-4><%=image_tag "w2a.jpg", :class=> 'img-responsive'%></div>
      <div class=col-md-4><%=image_tag "weddings.jpg", :class=> 'img-responsive'%></div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="..."></iframe>
      </div>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
