<div class="spaces"></div>
<h1 class="text-center">Aloha Control Center<small> No, this can't launch rockets</small></h1>
<div class="container">

	<div class="text-center">
		<br><br>
		<div class="panel panel-default" id="postdeployment-jumbotron">
			<div class="panel-heading">
				<h4>Share Counts of http://dannycarvalho.com</h4>
			</div>
			<div class="panel-body">
				<div id="social-share-counter">
				<%= button_to 'Get Share Counts',  {:action => 'check_social_count'}, class: "btn btn-primary", method: 'get', remote: true %>
				</div>
			</div>
		</div>
		<div class="panel panel-default" id="postdeployment-jumbotron">
			<div class="panel-heading">
				<h4>Post-Deployment Tools</h4>
			</div>
				<div class="panel-body" id="admin-buttons">
				<%= button_to 'Start Scheduler', {action: 'start_scheduler'}, class: "btn btn-danger", method: 'get' %>
				<%= button_to 'Update Social Networks', {action: 'update_social'}, class: "btn btn-info", method: 'get' %>
				<%= button_to 'Sidekiq Dashboard', '/sidekiq' , class: "btn btn-warning", method: 'get' %>
			</div>
		</div>
		<div class="panel panel-default" id="postdeployment-jumbotron">
			<div class="panel-heading">
				<h4>Manually Update Database</h4>
			</div>
			<div class="panel-body" id="admin-buttons">
				<%= button_to 'Google Calendar', {:action => 'update_events'}, class: "btn btn-default", method: 'get' %>
				<%= button_to 'YouTube', {:action => 'update_youtube'}, class: "btn btn-default", method: 'get' %>
				<%= button_to 'Blogger Blogs', {:action => 'update_blogger'}, class: "btn btn-default", method: 'get' %>
				
				<%= button_to 'Instagram', {:action => 'update_instagram'}, class: "btn btn-default", method: 'get' %>
			</div>
		</div>
		<div class="panel panel-default" id="postdeployment-jumbotron">
			<div class="panel-heading">
				<h4>Email Center</h4>
			</div>
			<br>
			<p class="text-info text-center">
				If you plan on adding images to your custom email, please set width='580' in the 'img' tag
			<p>
			<div class="panel-body">
				<%= form_tag( user_path(current_user) + '/send_custom_emails' , method: 'get') do %>
					<%= text_area_tag :custom_text, nil, class: 'form-control' %>
					<br>
					<%= submit_tag 'Send Custom Email', class: "btn btn-default"%>
				<% end %>
			</div>
			<br>
			<div class="panel-body">
				<%= form_tag( user_path(current_user) + '/send_event_emails' , method: 'get') do %>
					<%= select_tag 'selected_events', options_from_collection_for_select(@events, :id, :get_info), multiple: true, size: 10, class: 'form-control' %>
					<br>
					<%= submit_tag 'Send Event Email', class: "btn btn-default"%>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br>



