<div class="spaces"></div>
<h1 class="text-center">Aloha Control Center<small> No, this can't launch rockets</small></h1>
<div class="container">

	<div class="text-center">
		<br><br>

		<div class="jumbotron" id="postdeployment-jumbotron">
			<h4>Post-Deployment Tools</h4>
			<br>
			<%= button_to 'STEP 1: Upload System Files', edit_user_path(@user), class: "btn btn-danger", method: 'get' %>
			<br>
			<%= button_to 'STEP 2: Update System Files', {action: 'reinitialize_files'}, class: "btn btn-warning", method: 'get' %>
			<br>
			<%= button_to 'Sidekiq Dashboard', '/sidekiq' , class: "btn btn-info", method: 'get' %>
			<br>
		</div>
		<br><br>
		<%= link_to 'Back', users_path %> |
		<%= link_to 'Update Events', :action => 'update_events' %> | 
		<%= link_to 'Email The Townsfolks', :action => 'send_emails' %> |
		<%= link_to 'You do the Tube', :action => 'update_youtube' %> |
		<%= link_to 'Blog it baby', :action => 'update_blogger' %> |
		<%= link_to 'What About It', :action => 'update_about' %> |
		<%= link_to 'Learn Your Instagrammars', :action => 'update_instagram' %>

	</div>
	<br>

	<%= form_tag( user_path(current_user) + '/send_custom_emails' , method: 'get') do %>
	<%= label_tag(:custom_text, "Email content") %>
	<%= text_area_tag :custom_text %>
	<%= submit_tag 'Send it Custom Baby'%>
	<% end %>
	<br>
</div>