<div class="spaces"></div>
<div class="spaces"></div>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="large-title"><%= @video.title %></h4>
    </div>
    <div class="panel-body" id="blog-show-content">
     	<br>
     	<div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="100%" height="100%" src=<%= 'https://www.youtube.com/embed/' + @video.url_path %> frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
     	<%= @video.description %>
    </div>
    <div class="panel-footer">
    	<%= link_to "Watch on YouTube",  'https://www.youtube.com/watch?v=' + @video.url_path %>
    </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 id="large-title">Disqus</h4>
  </div>
  <div class="panel-body" id="disqus">
  </div>
  <div class="panel-footer">
  </div>
</div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_video_path(@video) %> |
  <% end %>
  <%= link_to 'All Videos', videos_path %>
</div>