<div class="spaces"></div>
<div class="spaces"></div>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="large-title"><%= @event.dateTime.strftime("%m/%d") %><small id="small-title"> <%= @event.summary %></small></h4>
    </div>
    <div class="panel-body" id="blog-show-content">
      <div id="center-me">
        <%= image_tag @event.image_filepath.standard.to_s, class: 'img-responsive' %>
      </div>
      <br>
      <p>
      	What: <%= @event.summary %>
      </p>
      <p>
      	Where: <%= @event.location %>
      </p>
      <p>
      	When: <%= @event.dateTime.strftime("%B/%d/%y @ %H:%M:%S") %>
      </p>
      <br>
      <%= @event.description %>
      <br>
      <br>
      
    </div>
    <div class="panel-footer">
      <iframe width="100%" height="520" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/place?q=" + @event.location.gsub(/\s/, '+') +"&key=" + (ENV['GOOGLE_MAP_API_KEY'].nil? ? Rails.application.config.googleMapKey : ENV['GOOGLE_MAP_API_KEY']) %>></iframe> 
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="large-title">Disqus</h4>
    </div>
    <div class="panel-body" id="disqus">
    </div>
    <div class="panel-footer">
    </div>
  </div>
  
  <% if user_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <% end %>
  <%= link_to 'Back', events_path %>
</div>
