<div class="spaces"></div>

<div class="container">
<div id="song-info">
<h1 class="text-center"><%= @song.title%></h1>
<br>
<%= image_tag @song.filepath.to_s, class: 'img-responsive img-rounded', id: 'song-photo' %>
<br>
<p class="lead text-center">About This Song</p>
<%= @song.description.html_safe %>
<br>
<br>
<p class="lead">
  Album: <%= @song.album.name %>
  <br>
  Duration: <%= @song.duration %>
</p>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="large-title">Disqus</h4>
    </div>
    <div class="panel-body" id="disqus">
    </div>
    <div class="panel-footer">
    </div>
  </div>

  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_song_path(@song) %> |
  <% end %>
  <%= link_to 'Back To Album', @song.album %>

</div>