<div class="spaces"></div>
<h1 class="text-center">Albums<small> Basically, what the site is supposed to feature</small></h1>
<% if user_signed_in? %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Description</th>
        <th>Released</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= album.release.strftime("%m/%d/%y") %></td>
        <td><%= album.description %></td>
        <td><%= album.release.strftime("%B %Y") %></td>
        <td><%= link_to 'Show', album %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<br>
<% if user_signed_in? %>
<%= link_to 'New Album', new_album_path %>
<% end %>

<br>

<br>
<div class="container">
  <% @albums.each do |album| %>
  <div class="row">
    <div class="col-md-3">
      <br>
      <%= image_tag album.image_filepath.nil? ? 'default.jpg' : album.image_filepath.thumbnail.to_s, class: 'img-responsive', id: 'product-image' %>
      <br>
    </div>
    <div class="col-md-9">
      <br>
      <p class="lead" id="product-index-title"><%= album.name %></p>
      <p><%= album.description %></p>
      <p>Released: <%= album.release.strftime("%B %Y") %></p>
      <p><%= link_to 'More info', album %></p>
      <br>
      <span class="lead"><%= album.price %></span>
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value=<%= album.paypal %>>
        <input type="image" src="https://res.cloudinary.com/velaseriat/image/upload/v1439329958/addtocart_t0balc.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      
    </div>
  </div>
  <hr>
  <% end %>
</div>
<br>
