<div class="spaces"></div>

<div class="container">
	<h1 class="text-center"><%= @album.name %></h1>
	<div class="row">
		<div class="col-md-5">
			<iframe style="border: 0; width: 100%; height: 786px;" src=<%= "https://bandcamp.com/EmbeddedPlayer/album=" + @album.bandcamp_id + "/size=large/bgcol=333333/linkcol=4ec5ec/transparent=true/" %> seamless><a href="http://bandcamp.com">Danny Carvalho Music</a></iframe>
		</div>
		<div class="col-md-5">
			<%= @album.description.html_safe %>
			<br>
			Released: <%= @album.release.strftime("%B %Y") %>
			<br><br>
			<span class="lead"><%= @album.price %></span>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            	<input type="hidden" name="cmd" value="_s-xclick">
            	<input type="hidden" name="hosted_button_id" value=<%= @album.paypal %>>
            	<input type="image" src="https://res.cloudinary.com/velaseriat/image/upload/v1439329958/addtocart_t0balc.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          	</form>
          	<br>
          	<h4>Track List</h4>
          	<% @songs.each do |song| %>
          		<%= link_to (song.track_num.to_s + '. ' + song.title), song %>
          		<br>
          	<% end %>
		</div>
	</div>
	<br><br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 id="large-title">Disqus</h4>
		</div>
		<div class="panel-body" id="disqus">
		</div>
		<div class="panel-footer">
	</div>
</div>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<% end %>
<%= link_to 'All Albums', albums_path %>
</div>