
<div class="spaces"></div>

<h1 class="text-center">New Photos</h1>

<div class="spaces"></div>
<div class="container">
<% if user_signed_in? %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Image</th>
          <th>Datetime</th>
          <th colspan="3">Admin Tools</th>
        </tr>
      </thead>
      <tbody>
        <% @photos.each do |photo| %>
          <tr>
            <td><%= image_tag photo.image_filepath.thumbnail.to_s, {height: 50} %></td>
            <td><%= photo.dateTime %></td>
            <td><%= link_to 'Show', photo %></td>
            <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
            <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'New Photo', new_photo_path %>
<% end %>
</div>
<br>



<div class="container">
  <%= "<center><p> No photos to display! </p></center>".html_safe if @photo_sets.first.count == 0 %>
  <% @photo_sets.each do |photos| %>
    <div class="row">
      <% photos.each do |ph| %>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 id="large-title"><%= ph.dateTime.strftime("%m/%d") %> <small id="small-title"><%= ph.title %></small></h4>
            </div>
            <div class="panel-body" id="event-body">
              <div class="theoverflower">
                  <div id="theoverlayer">
                    <%= link_to '', ph, class: "my-link" %>
                    <div class="text-center">
                      <br>
                      <%= ph.text %>
                    </div>
                  </div>
                  <div class="text-center">
                    <% if !ph.image_filepath.file.nil? %>
                      <%= image_tag ph.image_filepath.thumbnail.to_s %>
                    <% else %>
                      <%= image_tag "default.jpg" %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>